Dear @@FORENAME@@ @@LASTNAME@@,

the resource for your Cloud request @@ID@@ has been provisioned in the openQRM Cloud.
Your system is now starting and soon ready for you until @@STOP@@.

	Ip-address : @@IP@@ / @@HOSTNAME@@
	User: @@LOGINUSER@@
	Password : @@PASSWORD@@

	@@VNC@@

your openQRM Cloud

Please contact @@CLOUDADMIN@@ for any further informations
