Dear Cloudadmin,

the resource for the Cloud request @@ID@@ has been provisioned in the openQRM Cloud.
Your system is now starting and active until @@STOP@@.

	Ip-address : @@IP@@ / @@HOSTNAME@@
	User: root
	Password : @@PASSWORD@@

	@@VNC@@

your openQRM Cloud

Please contact @@CLOUDADMIN@@ for any further informations
