Dear @@FORENAME@@ @@LASTNAME@@,

Your account at the openQRM Enterprise Cloud Zones has been recovered and a new password has been set.

Username : @@USER@@
Password : @@PASSWORD@@

your openQRM Enterprise Cloud Zones


