Dear @@FORENAME@@ @@LASTNAME@@,

your CCUs (Cloud Computing Units) are running low!
Currently you only have @@CCUS@@ left and your request @@ID@@ is going to be deprovisioned soon.

your openQRM Cloud

Please contact @@CLOUDADMIN@@ for any further informations
