Dear @@FORENAME@@ @@LASTNAME@@,

your CCUs (Cloud Computing Units) are running low!
Currently you only have @@CCUS@@ left and the Appliance of your request @@ID@@ is going to be paused now.

your openQRM Cloud

Please contact @@CLOUDADMIN@@ for any further informations
