Dear Cloud-Admin,

a new request from user @@USER@@ was submitted with the id @@ID@@.

Please check the Cloud-Manager at :

	http://@@OPENQRM_SERVER_IP_ADDRESS@@/openqrm/base/index.php?plugin=cloud&controller=cloud-request

your openQRM Cloud

Please contact @@CLOUDADMIN@@ for any further informations
